@use '../../../..//sassvariables/variables'
    
*
    color: variables.$primary-color
    

.container-transfer
    width: 100%
    display: flex
    justify-content: center
    padding-top: 2em 
    form
        width: 100%


::-webkit-input-placeholder
    color: variables.$primary-color

.options
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 0.8em 

.search
    padding-top: 1em
    margin-top: 1em
    position: relative
    .mat-progress-spinner
        position: absolute
        right: 8px
        top: 30px

.search::before
    content: ''
    height: 1px
    background-color: #aaa
    display: block