<main>
  <div class="container-transfer">

    <mat-stepper class="demo-stepper" #stepper linear [orientation]="(stepperOrientation | async)!">

      <mat-step [stepControl]="formTransfer" [editable]="false">

        <ng-template matStepLabel> Informações do beneficiado</ng-template>
        <form #transferForm="ngForm" class="form-field" [formGroup]="formTransfer">

          <fieldset>

            <legend>Transferir Dinheiro</legend>

            <mat-form-field appearance="fill">
              <mat-label>Agência:</mat-label>
              <input matInput formControlName="agencia" maxlength="4" minlength="4" 
              required placeholder="Informe a agência..." [readonly]="!hideCheckBox" > 
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Conta:</mat-label>
              <input matInput formControlName="conta" maxlength="7" minlength="7"  
              required placeholder="Informe a conta..."[readonly]="!hideCheckBox">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Digito:</mat-label>
              <input matInput formControlName="digito" maxlength="1" minlength="1"  
              required placeholder="Informe o digito..."[readonly]="!hideCheckBox">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input matInput [brmasker]="{money: true,  decimalCaracter: '.', decimal:2}" maxlength="8" minlength="4"
                placeholder="Valor a Transferir..." required formControlName="value">
              <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

        

            <div class="options">
              <button mat-raised-button color="primary" matStepperNext type="submit"
                [disabled]="transferForm.invalid" (click)="findPersonByAccount()">Proximo</button>
                <mat-checkbox class="example-margin" (change)="hideCheckBox = !hideCheckBox" >Fazer uma buscar por nome</mat-checkbox>
            </div>
            

            <div class="search" *ngIf="!hideCheckBox">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Buscar por nome:</mat-label>
                <input type="text" matInput [matAutocomplete]="auto" (input)="searchPersonByName($event)"
                placeholder="Faça uma busca por nome entre os nossos clientes...">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let element of listPersons" [value]="element.name"
                    (onSelectionChange)="findPersonById(element.id)">
                    {{element.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-spinner diameter="25" *ngIf="loading"></mat-spinner>
            </div>

            <div class="info-person" *ngIf="physicalPersonReturned && !hideCheckBox">
            <p>Nome: {{physicalPersonReturned.name}} {{physicalPersonReturned.lastname}}</p>
            <p>CPF: {{physicalPersonReturned.cpf}}</p>
            </div>

          </fieldset>
        </form>

      </mat-step>

      <mat-step linear #stepper [editable]="false" [stepControl]="confirmeForm">
        <ng-template matStepLabel> Finalizar</ng-template>

        <form class="cofirmeForm form-field" [formGroup]="confirmeForm" #formConf="ngForm">

          <fieldset *ngIf="physicalPersonReturned">
            <legend>Dados do beneficiado</legend>

            <h2>Nome: {{physicalPersonReturned.name}} {{physicalPersonReturned.lastname}}</h2>

            <h2>CPF: {{physicalPersonReturned.cpf}}</h2>

            <p> <u><b>*Atenção*</b></u> Confira todos as informações, uma vez confirmada a operação não será possivel
              desfaze-la ou recuperar o saldo!</p>

            <div class="options">
              <button mat-raised-button color="primary" type="submit" [disabled]="formConf.invalid" (click)="confirmTranfer()">Confirmar</button>
              <mat-checkbox formControlName="confirme" required>Confirmo as informações!</mat-checkbox>
            </div>

          </fieldset>

        </form>

      </mat-step>

    </mat-stepper>

  </div>
</main>