<header>
    <nav class="nav-bar">
        <div class="self-menu">
            <button mat-button color="accent" mat-button [matMenuTriggerFor]="selfmenu">➤ Olá, Jailton</button>
            <mat-menu #selfmenu="matMenu">
                <a routerLink="/" mat-menu-item color="warn" id="btn-sair">Sair</a>
                <a routerLink="/myaccount" mat-menu-item id="btn-inicio">Inicio</a>
            </mat-menu>
        </div>
        <ul class="account-menu">
            <li class="actions">
                <button mat-raised-button color="accent" [matMenuTriggerFor]="beforeMenu">Serviços</button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <a routerLink="withdraw" mat-menu-item>Saque</a>
                    <a routerLink="trasnfer" mat-menu-item>Traferência</a>
                    <a routerLink="historic" mat-menu-item>Histório</a>
                </mat-menu>
            </li>
            <li class="options-account">

                <div class="balance-info">
                    <input matInput [type]="hide ? 'password' : 'text'" value="R$1000" readonly>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>

            </li>
        </ul>
    </nav>

    <nav class="mobile-menu">
        <div class="btn-bars">
        <button mat-icon-button aria-label="Example icon-button with a menu" (click)="openAndCloseMenu()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <div class="balance-info">
            <input matInput [type]="hide ? 'password' : 'text'" value="R$1000" readonly>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </div>
        </div>
        <fieldset class="options-mobile">
            <legend>Ola,Jailton</legend>
        <ul [classList]="classList">
            <li><a routerLink="withdraw">Saque</a></li>
            <li> <a routerLink="trasnfer">Transferir</a></li>
            <li> <a routerLink="historic">Histórico</a></li>
            <li><a routerLink="/myaccount">Inicio</a></li>
            <li>Sair</li>
        </ul>
    </fieldset>
    </nav>
</header>