.container-new-acount
    color: #fff
    width: 100%
    display: flex
    justify-content: center
    padding: 1em

.content-forms
    width: 800px

.form-terms
    p
        color: #ffa500
        text-align: justify
    .options
        display: flex
        justify-content: space-between
        align-items: center
    mat-checkbox
        color: #ffa500

mat-label
    color: #ffa500
    