<app-header-myaccount></app-header-myaccount>
<main>
    <div class="content-advertising">
      <h1>Confira nossos produtos</h1>
      <div class="row">  
          <ul>
            <li> <fieldset class="card">
              <legend>Cartões de credito</legend>
              <img src="assets/cartao-de-credito.png" alt="">
            </fieldset></li> 
  
            <li>  <fieldset class="card">
              <legend>Seguro Auto</legend>
              <img src="assets/seguro.png" alt="">
            </fieldset></li>
  
            <li>  <fieldset class="card">
              <legend>Consórcios</legend>
              <img src="assets/rental.png" alt="">
            </fieldset></li>
  
            <li> <fieldset class="card">
              <legend>Emprestimo</legend>
              <img src="assets/money.png" alt="">
            </fieldset></li>
  
            <li> <fieldset class="card">
              <legend>Investimentos</legend>
              <img src="assets/growth.png" alt="">
            </fieldset></li>
          </ul>
        </div>
    </div>
  </main>
