<header>
    <div class="top-bar">
        <div class="form-accoutn-content">
            <div class="title">
                <h1>acesso sua conta  
                </h1>
            </div>
            <form>
                <div class="form-group">
                    <label for="agencia">Agência:</label>
                    <input type="text"name="agencia" id="agencia">
                </div>

                <div class="form-group">
                    <label for="conta" >Conta:</label>
                    <input type="text" name="conta" id="conta">
                </div>

                <div class="form-group">
                    <label for="digito" >Digito:</label>
                    <input type="text" name="digito" id="digito">
                </div>

                <input type="submit" value="OK" class="btn-primary">
            </form>
        </div>
        <div class="brand">
            <h1>Icon</h1>
        </div>
    </div>
</header>

<main>
    
</main>